-
  const companyLinks = [
    {
      href: "about-company.html",
      name: "О компании",
    },
    {
      href: "partners.html",
      name: "Нам доверяют",
    },
    {
      href: "blog.html",
      name: "Статьи",
    },
    {
      href: "contacts.html",
      name: "Контакты",
    },
  ]

-
  const serviceLinks = [
    {
      href: "advertising.html",
      name: "Радиостанции",
    },
    {
      href: "advertising.html",
      name: "Социальные сети",
    },
    {
      href: "advertising.html",
      name: "Мониторы",
    },
    {
      href: "advertising.html",
      name: "Локальное радио",
    },
    {
      href: "advertising.html",
      name: "LED Экраны",
    },
  ]

-
  const prodLinks = [
    {
      href: "production.html",
      name: "Аудиоролики",
    },
    {
      href: "production.html",
      name: "Видеоролики",
    },
  ]

mixin footer(footerMods)
  footer.footer(class=footerMods, data-footer)
    .footer__content(data-accordion="parent", data-destroy="(max-width: 1023px)")
      .container
        .footer__grid
          if(currentUrl === "index.html")
            //- lighthouse снимает 10 баллов SEO за <a> без href
            span.footer__logo
              +icon("logo", 50, 50)
              +icon("artmedia", 219, 50)
          else
            a.footer__logo(href="index.html", aria-label="Переход на главную")
              +icon("logo", 50, 50)
              +icon("artmedia", 219, 50)
          .footer-links(data-accordion="element")
            p.footer-links__title(data-accordion="button") #[button(type="button") Компания]
            .footer-links__list-wrapper(data-accordion="content")
              ul.footer-links__list
                each item in companyLinks
                  li
                    if item.href === currentUrl
                      span !{item.name}
                    else
                      a(href=item.href) !{item.name}
          .footer-links(data-accordion="element")
            p.footer-links__title(data-accordion="button") #[button(type="button") Рекламные возможности]
            .footer-links__list-wrapper(data-accordion="content")
              ul.footer-links__list
                each item in serviceLinks
                  li
                    a(href=item.href) !{item.name}
          .footer-links(data-accordion="element")
            p.footer-links__title(data-accordion="button") #[button(type="button") Изготовление рекламы]
            .footer-links__list-wrapper(data-accordion="content")
              ul.footer-links__list
                each item in prodLinks
                  li
                    a(href=item.href) !{item.name}
          .footer__contacts.footer-links(data-accordion="element")
            p.footer-links__title(data-accordion="button") #[button(type="button") Контакты]
            .footer-links__list-wrapper(data-accordion="content")
              p г. Арзамас, ул. Карла Маркса д.61 (БЦ&nbsp;"СитиПарк") офис&nbsp;№410
              a(href="tel:+78314795464") +7 (83147) 9-54-64
              a(href="tel:+79877561246") +7 (987) 756-12-46
              a(href="mailto:info@art-md.ru") info@art-md.ru
              .socials
                a(href=vkLink, rel="nofollow noopener", target="_blank", aria-label="Перейти в сообщество Вконтакте")
                  +icon("logo-vk", 32, 32)
                a(href=instLink, rel="nofollow noopener", target="_blank", aria-label="Перейти в сообщество Instagram")
                  +icon("logo-instagram", 32, 32)
    .footer__copyright
      .container
        p &copy; ООО "Артмедиа" 2022. Все права защищены. Данный сайт носит сугубо рекламно-информационный характер, и&nbsp;ни&nbsp;при каких условиях не&nbsp;является публичной офертой, определяемой положением Статьи&nbsp;437&nbsp;(2) Гражданского кодекса РФ. Точную и&nbsp;окончательную информацию о&nbsp;стоимости услуг&nbsp;Вы можете получить, связавшись с&nbsp;нами.
        //- p
        .copyright
          span Разработано
          a(href="megacoder.ru") megacoder.ru


