mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "about-company.html",
        text: "О компании",
      },
      {
        href: "#",
        text: "Услуги",
        sublist: [
          {
            href: "advertising.html",
            text: "Рекламные возможности",
          },
          {
            href: "production.html",
            text: "Изготовление рекламы",
          },
        ],
      },
      {
        href: "clients.html",
        text: "Нам доверяют"
      },
      {
        href: "blog.html",
        text: "Статьи"
      },
      {
        href: "contacts.html",
        text: "Контакты"
      },
    ]

  header.header(class=headerMods, data-header)
    .container
      .header__logo-wrapper
        if(currentUrl === "index.html")
          //- lighthouse снимает 10 баллов SEO за <a> без href
          span.header__logo
            +icon("logo", 50, 50)
            +icon("artmedia", 219, 50)
        else
          a.header__logo(href="index.html", aria-label="Переход на главную")
            +icon("logo", 50, 50)
            +icon("artmedia", 219, 50)
      nav.main-nav
        .main-nav__wrapper
          ul.main-nav__list(data-accordion="parent", data-destroy="(max-width: 1279px)")
            each link in headerLinks
              if link.sublist
                li.main-nav__item.main-nav__item--sublist(data-accordion="element")
                  a.main-nav__link(href=link.href)=link.text
                    +icon("logo", 49, 49)
                  button.main-nav__item-toggle(type="button", aria-label="открыть меню услуги", data-accordion="button")
                  .main-nav__sublist-wrapper(data-accordion="content")
                    ul.main-nav__sublist
                      each subItem in link.sublist
                        li
                          a(href=subItem.href) !{subItem.text}
              else
                li.main-nav__item
                  if link.href === currentUrl
                    span.main-nav__link.is-active=link.text
                  else
                    a.main-nav__link(href=link.href)=link.text
                      +icon("logo", 49, 49)
          a.header__phone(href="tel:+78314795464", aria-label="Позвонить в компанию") #[span +7 (83147) 9-54-64]
          .socials
            a(href="https://vk.com/artmedia_arz", rel="nofollow noopener", target="_blank")
              +icon("logo-vk", 32, 32)
            a(href="https://www.instagram.com/artmedia_arz", rel="nofollow noopener", target="_blank")
              +icon("logo-instagram", 32, 32)
          +button({text: "Получить предложение"}).header__button(data-open-modal="feedback")

        .main-nav__overlay(data-main-nav-overlay)
      .header__buttons
        a.header__phone(href="tel:+78314795464", aria-label="Позвонить в компанию") #[span +7 (83147) 9-54-64]
        +button({text: "Получить предложение"}).header__button(data-open-modal="feedback")
        button.header__toggle(type="button", aria-label="Переключатель отображения меню", aria-pressed="false", data-header-toggle)

