mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "company.html",
        text: "О компании"
      },
      {
        href: "#",
        text: "Услуги",
        sublist: [
          {
            href: "advertising.html",
            text: "Рекламные возможности",
          },
          {
            href: "production.html",
            text: "Изготовление рекламы",
          },
        ],
      },
      {
        href: "clients.html",
        text: "Нам доверяют"
      },
      {
        href: "blog.html",
        text: "Статьи"
      },
      {
        href: "contacts.html",
        text: "Контакты"
      },
    ]

  header.header(class=headerMods, data-header)
    .container
      .header__logo-wrapper
        if(currentUrl === "index.html")
          //- lighthouse снимает 10 баллов SEO за <a> без href
          span.header__logo
            +icon("logo-full", 260, 48)
        else
          a.header__logo(href="index.html", aria-label="Переход на главную")
            +icon("logo-full", 260, 48)
      nav.main-nav
        button.main-nav__toggle.btn-reset(type="button", aria-label="Переключатель отображения меню", aria-pressed="false")
          +icon("icon-burger", 20, 20)
        .main-nav__wrapper
          ul.main-nav__list
            each link in headerLinks
              - const activeState = currentUrl === link.href
              if activeState
                li.main-nav__item
                  span.main-nav__link.is-active=link.text
              if link.sublist
                li.main-nav__item.main-nav__item--sublist
                  a.main-nav__link(href=link.href)=link.text
                    +icon("logo", 49, 49)
                  ul.main-nav__sublist
                    each subItem in link.sublist
                      li
                        a(href=subItem.href) !{subItem.text}
              else
                li.main-nav__item
                  a.main-nav__link(href=link.href)=link.text
                    +icon("logo", 49, 49)
      .header__buttons
        a.header__phone(href="tel:+78314795464", aria-label="Позвонить в компанию") +7 (83147) 9-54-64
        +button({text: "Получить предложение"}).header__button

